<nav class="nav">
  <ul>
    <ng-template
      *ngIf="userData; then userIsLoged; else userIsNotLoged"
    ></ng-template>
    <ng-template #userIsLoged>
      <li>
        <button
          routerLink=""
          title="Home"
          mat-icon-button
          aria-label="Home button"
        >
          <mat-icon>home</mat-icon>
        </button>
      </li>

      <li>
        <button
          routerLink="/profile/id"
          mat-icon-button
          aria-label="Login button"
          title="My Profile"
        >
          <mat-icon>account_circle</mat-icon>
        </button>
      </li>

      <li>
        <button
          routerLink="/logout"
          title="I Want to gerara here"
          mat-icon-button
          aria-label="Logout button"
        >
          <mat-icon>logout</mat-icon>
        </button>
      </li>
    </ng-template>

    <ng-template #userIsNotLoged>
      <li>
        <button
          routerLink="/login"
          title="Login"
          mat-icon-button
          aria-label="Login button"
        >
          <mat-icon>login</mat-icon>
        </button>
      </li>

      <li>
        <button
          routerLink="/register"
          mat-icon-button
          title="Register"
          aria-label="Register button"
        >
          <mat-icon>badge</mat-icon>
        </button>
      </li>
    </ng-template>
  </ul>
</nav>
