/* Form */

.form {
  max-width: 500px;
  margin: 0 auto;

  .form__row {
    margin-bottom: var(--spacing-2);

    * {
      width: 100%;
    }

    &:last-child {
      margin-bottom: var(--spacing-0);
    }
  }
}
