@import 'mixins';

.header {
  padding: var(--spacing-1);
  background-color: var(--c-white);
  box-shadow: var(--shadow-primary);

  .header__inner {
    @include display-flex;
    justify-content: space-between;
  }
}
